
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}





body {
	background: #f6f5f7;
	
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.button-2{
	border-radius: 20px;
	border: 1px solid green;
	background-color: green;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}


.button:active {
	transform: scale(0.95);
}

.button:focus {
	outline: none;
}

.button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.containerr {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: absolute;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.containerr.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.containerr.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.containerr.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.containerr.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.containerr.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.containerr.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}


.alert.alert-success.alert-dismissible {
    width: 30%;
    float: right;
    height: 6.5rem;
	display: flex;
	align-items: center;
	transition: transform 0.5s ease, opacity 0.5s ease;
	transform: translateX(100%);
}

.open-alert{
	transform: translateX(0%) !important;
	opacity: 1;
}

.number-otp{
	background-color: red;
	width: 40px;
	height: 40px;
	border-radius: 30px;
}

.fs-nav{
	font-size: 16px;
	color: #697077;
}

.fs-logo{
	font-size: 25px;
	color: yellowgreen;
}

.img-title{
	
}

.h1-title{
    font-size: 76px;
	font-weight: 700;
}

.p-title{
	font-size: 18px;
	color: #6b7280;
	font-weight: 400;
}

.content-title{
	position: absolute;
	top: 0;
	width: 50%;
	top: 15%;
	left: 10%;
}

.button:hover{
	transform: translateX(10px);
}

.container.mt-5 {
    height: 50vh;
    display: flex;
	align-items: center;
	justify-content: start;
	margin-left: 16rem;
}

.text-header-modal{
	font-size: 30px;
    font-weight: 600;
    color: brown;
    margin: 8px 0;
}

strong{
	font-size: 18px;
    font-weight: 400;
}

.card-list {
	position: absolute;
	top: 50%;
	left: 10%;
}


.text-cart-title{
	font-size: 20px;
	color: #000000;
	font-weight: 700;
}

.text-cart-des{
	font-size: 17px;
    font-weight: 400;
}

.cart-item.d-flex.justify-content-center.align-items-center.gap-4.me-5 {
    padding: 4px;
    border: 1px solid orange;
    border-radius: 30px;
	transition: all 0.3s ease-in-out;
}

.cart-item:hover{
	transform: scale(1.1);
	box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}


.cer-item{
	transition: all 0.3s ease-in-out;
}

.cer-item:hover{
	transform: translateY(20px);
	cursor: pointer;
}

.gradient1{
	width: 19.5625rem;
    height: 19.5625rem;
    left: -4.625rem;
    background-color: rgb(35, 203, 167);
    border-radius: 100%;
	
}



.gradient2{
	width: 19.5625rem;
    height: 19.5625rem;
    left: -4.625rem;
    background-color: rgb(239, 207, 227);
    border-radius: 100%;
}

.gradient3{
	width: 19.5625rem;
    height: 19.5625rem;
    left: -4.625rem;
    background-color: rgb(190, 86, 131);
    border-radius: 100%;
}

.p-w-title{
	font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
}

.p-w-des{
	font-weight: 600;
}

.bg-ck{
	background-color: rgb(239, 245, 247);;
}

.p-footer{
	font-size: 17px;
    font-weight: 400;
    color: #333;
}

.ms-full{
    margin-left:300px;
}

.toolbar{
    height: 70px;
    line-height: 70px;
    border-radius: 30px;
}


.nav-div{
    width: 240px;
    margin-left: 10px;
}






li.nav-item.mb-2.nav-div.m-0.active {
    background-color: rgb(183,244, 216);
	border-radius: 20px;
	transition: all 0.5s ease-in-out;
	transform: translateX(10px);
}

.m-3.p-2.answer-text.border-bottom.active{
    background-color: rgb(205, 254, 194);
    border-radius: 30px;
}


.web-camera{
	position: fixed;
	top: 0;
	right: 0;
	width: 150px;
	height: 150px;
}
